@page "/summary"
@inherits SummaryBase

<div class="overview container">
    @if (playerdata == null)
    {
        <h1>Oops...</h1>
        <p>You haven't loaded a save file yet, redirecting you now.</p>
    }
    else
    {
        <h1 class="display-4">Summary</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Total play time</th>
                    <th>Total EXP</th>
                    <th>Highest boss</th>
                    <th>Titans defeated</th>
                    <th>Total rebirths</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@playerdata.totalPlaytime.timeDisplayColon()</td>
                    <td>@playerdata.stats.totalExp</td>
                    <td>@GetHighestBoss()</td>
                    <td>@playerdata.stats.titansDefeated</td>
                    <td>@playerdata.stats.rebirthNumber</td>
                </tr>
            </tbody>
        </table>

        <h2>Adventure</h2>

        <h3>I.T.O.P.O.D.</h3>

        <table class="table">
            <tr>
                <th>Highest floor</th>
                <td>@playerdata.adventure.highestItopodLevel</td>
            </tr>
            <tr>
                <th>Total PP earned</th>
                <td>@playerdata.adventure.itopod.lifetimePoints</td>
            </tr>
            <tr>
                <th>Enemies killed</th>
                <td>@playerdata.adventure.itopod.enemiesKilled</td>
            </tr>
        </table>

        <h3>Items</h3>

        <table class="table">
            <tr>
                <th>Cube power</th>
                <td>@playerdata.inventory.cubePower</td>
            </tr>
            <tr>
                <th>Cube toughness</th>
                <td>@playerdata.inventory.cubeToughness</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>Total items discovered</th>
                <td>@playerdata.inventory.itemList.totalDiscovered</td>
            </tr>
            <tr>
                <th>Total items maxed</th>
                <td>@playerdata.inventory.itemList.totalMaxxed</td>
            </tr>
        </table>

        <h3>Wandoos</h3>

        <table class="table">
            <tr>
                <th>Wandoos 98 levels</th>
                <td>@playerdata.wandoos98.OSlevel</td>
            </tr>
            <tr>
                <th>Money pit levels</th>
                <td>@playerdata.wandoos98.pitOSLevels</td>
            </tr>
            <tr>
                <th>Wandoos XL levels</th>
                <td>@playerdata.wandoos98.XLLevels</td>
            </tr>
            <tr>
                <th>I.T.O.P.O.D. levels</th>
                <td>@(playerdata.adventure.itopod.perkLevel.ElementAt(22) * 2)</td>
            </tr>
        </table>
    }
</div>
